html,
body,
code {
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
}

h3 {
  font-weight: 500;
  &::before {
    content: "✒️ ";
    margin-right: 0.25rem;
  }
}
p {
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.4;
}

pre {
  padding: 1rem;
  width: 80%;
  background-color: darken(white, 2);
  border: 1px solid darken(white, 7);
  margin-left: 2rem;
}

li {
  margin-left: 0.75rem;
  margin-bottom: 0.25rem;
  padding-left: 0.25rem;
  font-weight: 300;
}

section {
  padding: 2rem 0 2rem 0;
  border-bottom: 1px solid darken(white, 20);
}

code {
  font-weight: 400;
  width: 100%;
  display:inline-block;
  background-color: darken(white, 2);
  border: 2px solid darken(white, 6);
  margin: 1rem 0;
  line-height: 1.4;
  letter-spacing: 0.3px;
  white-space: pre-wrap;
}

.main {
  width: 80%;
  max-width: 60rem;
}

.blockquote {
  margin: 0;
  padding: 2rem;
  border-radius: 0.5rem;
  border: 2px solid darken(white, 10);
  background-color: darken(white, 2);
  line-height: 1.25;
  &__footer {
    margin-top: 0.5rem;
  }
}

section > p {
  margin-top: -0.5rem;
  margin-left: 2rem;
}

.description-text {
  font-size: 1.15rem;
  font-style: normal;
  margin: 2rem 0;
}

.example-text {
  @extend .description-text;
  margin-bottom: -0.25rem;
}

.keyword {
  font-weight:600;
}

.section--first {
  padding-top: 0.25rem;
}