* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.main-nav{
  background-color: black;
}

.main-nav__list{
  width: 90%;
  margin-top: 0px;
}

.main-nav__item{
  display: inline-block;
  padding: 2rem;
}

.main-nav__link{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}





